/* Global CSS classes */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    min-height: 10em;
    width: 100%;
    max-width: 100em;
    display: flex;
    flex-flow: row wrap;
}

header {
    background: rgb(26, 188, 156);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    flex: 0 0 25%;
}

main {
    background-color: #678;
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin-bottom: 2em;
}

footer {
    min-height: 5em;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

hr {
    background-color: black;
    height: 0.1em;
    margin: 1em 0;
    align-self: stretch;
}

label {
    display: block;
}

input {
    width: 15em;
    height: 2em;
    font-size: large;
}
textarea {
    max-width: 100%;
    box-sizing: border-box;
}

.extra-min-height {
    min-height: 35em;
}

.text-center {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.red-text {
    color: red;
}

.width-half {
    margin: 0 auto;
    width: 50%
}

.margin-y-sm {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.section-header-text {
    text-decoration: underline;
    font-size: xx-large;
    font-weight: bold;
}

ul {
    list-style-position: inside;
}

ul#top-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#top-nav-menu li {
    display: inline;
}

ul#top-nav-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active,
.cadet-blue {
    background-color: #9FB4C7;
}

/* Color Palette */
/* https://coolors.co/eeeeff-7f7caf-9fb4c7-28587b-9fb798 */


/* Table Styles */
table,
thead,
tbody,
tr,
td,
th {
    border: 1px solid black;
}

tbody tr:hover {
    background-color: #9FB4C7;
}

table {
    background-color: #EEEEFF;
}

thead tr,
tr th {
    background-color: #28587B;
    color: white;
    font-size: larger;
}

.navbar-style div#header-title-container {
    padding: 1.5em;
}

.gradient-background {
    background: rgb(26, 188, 156);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}


.body-style {
    padding: 1em;
    background-image: url("media/code-background.jpg");
    /* Original credit for background image */
    /* https://pixabay.com/videos/binary-computer-programming-digital-16714/ */
}

.footer-style {
    background-color: lightgray;
    padding: 1em;
    margin-top: -2em;
}

.page-jumbotron {
    margin: 1em 2em;
    padding: 3em 3em;
    border-radius: 2em;
}

.bubble-container {
    padding: 1em;
    background-color: #EEEEFF;
    border-radius: 2em;
}

.sea-green {
    background-color: #9FB798;
}


/** Reference - https://www.w3schools.com/howto/howto_css_block_buttons.asp **/
.btn-style {
    display: block;
    border: none;
    background-color: #7F7CAF;
    padding: 0.5em 1em;
    font-size: large;
    cursor: pointer;
    text-align: center;
    border-radius: 2em;
}


.center-table {
    margin: 2em auto;
}

img.square-image {
    width: 15em;
    height: 15em;
}

#work-experience-section article {
    padding: 1em;
    margin: 1em 0;
    color: white;
}

#work-experience-section article:nth-child(odd) {
    background-color: #7F7CAF;
    border-radius: 2em;
}

#work-experience-section article:nth-child(even) {
    background-color: #28587B;
    border-radius: 2em;
}


/* media query for mobile devices */
@media (max-width: 767px) {


    .flex-container {
        flex-flow: column;
        max-width: 25em;
        min-height: 5em;
    }

    header {
        flex: 0 1 auto;
    }

    main {
        flex-flow: column;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li {
        font-size: x-large;
    }

    .page-jumbotron {
        margin: 1em 1em;
        padding: 3em 3em;
    }

    #welcome-video {
        width: 13em;
        height: 10em;
    }

    .nice-profile-pic {
        width: 11em;
        height: 15em;
    }

    #panda-error-img{
        width: 15em;
        height: 10em;
        border-radius: 10%;
        margin: 1em auto; 
    }

}

/* media query for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {

    .flex-container {
        flex-flow: column;
    }


    header {
        flex: 0 1 auto;
    }

    main {
        flex-flow: column wrap;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li {
        font-size: xx-large;
    }

    td {
        font-size: x-large;
    }

    textarea { 
        font-size: large;
    }

    div#welcome-container {
        margin: 1em 1em;
        padding: 3em 3em;
        background-color: darkseagreen;
        border-radius: 2em;
    }

    #welcome-video {
        width: 35em;
        height: 25em;
    }

    .page-jumbotron {
        margin: 1em 3em;
        padding: 2em 2em;
    }

    section.welcome-content p {
        margin-left: 1em;
        width: 75%;
    }

    .extra-min-height {
        min-height: 75em;
    }

    .nice-profile-pic {
        width: 20em;
        height: 20em;
    }

    #panda-error-img{
        width: 35em;
        height: 20em;
        border-radius: 10%;
        margin: auto; 
    }

}


/* media query for desktop devices */
@media (min-width: 1025px) {


    div#image-container img {
        margin-left: 1em;
        margin-right: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    td {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    textarea { 
        font-size: large;
    }

    section.welcome-content p {
        margin-left: 1em;
        width: 50%;
    }

    .margin-right-sm {
        margin-right: 1em;
    }

    video#welcome-video {
        width: 40em;
        height: 25em;
    }

    #panda-error-img{
        width: 50em;
        height: 25em;
        border-radius: 50%;
        margin: 1em auto;
    }


}


/* CSS for animated picture on homepage */
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.nice-profile-pic {
    margin: 1.5em 0;
    box-sizing: border-box;
    border: 0.3em white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.standard-dimensions {
    width: 11em;
    height: 15em;
}

.back-to-top-icon {
    width: 1.5em;
    height: 1.5em;
}
