ul#top-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#top-nav-menu li {
    display: inline;
}

ul#top-nav-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: cornflowerblue;
}

table, thead, tbody, tr, td {
    border: 1px solid black;
}

div#image-container img {
    margin-left: 10px;
    margin-right: 10px;
}

#navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-style div#header-title-container {
    background-color: cadetblue; 
    padding: 0.5em;
}


.footer-style {
    background-color: lightgray;
    padding: 0 0.5em 0.5em 1em;
    margin-top: 1em;
}

.body-style {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em; 
    padding-bottom:2em; 
    margin-top: 4em;
}

.centered-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid royalblue;
}