/* Global CSS classes */
.text-center {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.width-half {
    margin: 0 auto;
    width: 50%
}

.section-header-text {
    text-decoration: underline;
    font-size: xx-large;
    font-weight: bold;
}

ul#top-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#top-nav-menu li {
    display: inline;
}

ul#top-nav-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: cornflowerblue;
}

table,
thead,
tbody,
tr,
td {
    border: 1px solid black;
}

.navbar-style {
    width: auto;
}

#navbar-container {
    position: relative;
    top: 0;
    width: 100%;
}

.navbar-style div#header-title-container {
    padding: 0.5em;
}

.gradient-background {
    background: rgb(26, 188, 156);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}


.body-style {
    padding: 5em 1em 2em 1em;
    background-image: url("resources/code-background.jpg");
    /* Original credit for background image */
    /* https://pixabay.com/videos/binary-computer-programming-digital-16714/ */
}

.footer-style {
    background-color: lightgray;
    padding: 0em 0.5em 0.5em 1em;
    margin-top: 1em;
}

.page-jumbotron {
    margin: 1em 10em;
    padding: 3em 3em;
    border-radius: 2em;
}

.bubble-container {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 2em;
}

.sea-green {
    background-color: darkseagreen;
}

.dark-salmon {
    background-color: darksalmon;
}

.dark-khaki {
    background-color: darkkhaki;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: row;
    place-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.center-table {
    margin: 2em auto;
}

img.square-image {
    width: 250px;
    height: 250px;
}

#work-experience-section article {
    padding: 1em;
    margin: 1em 0;
}

#work-experience-section article:nth-child(odd) {
    background-color: lightsteelblue;
    border-radius: 2em;
}

#work-experience-section article:nth-child(even) {
    background-color: antiquewhite;
    border-radius: 2em;
}


/* media query for mobile devices */
@media (max-width: 767px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li {
        font-size: x-large;
    }

    #welcome-content {
        display: block;
        margin: auto;
    }

    .page-jumbotron {
        margin: 1em 1em;
        padding: 3em 3em;
    }

    #welcome-video {
        width: 200px;
        height: 175px;

    }

    .nice-profile-pic {
        width: 200px;
        height: 250px;
    }

    .flex-center {
        flex-direction: column;
    }

    .flex-center img {
        margin: 1em 0;
        border: 1px solid black;
    }


}

/* media query for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {


    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        font-size: xx-large;
    }

    td {
        font-size: x-large;
    }

    div#welcome-container {
        margin: 1em 1em;
        padding: 3em 3em;
        background-color: darkseagreen;
        border-radius: 2em;
    }

    #welcome-video {
        width: 500px;
        height: 350px;
    }

    .page-jumbotron {
        margin: 1em 3em;
        padding: 2em 2em;
    }

    section.welcome-content p {
        margin-left: 1em;
        width: 75%;
    }

    .nice-profile-pic {
        width: 350px;
        height: 350px;
    }
}


/* media query for desktop devices */
@media (min-width: 1025px) {

    div#image-container img {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    td {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }


    section.welcome-content p {
        margin-left: 1em;
        width: 50%;
    }

    .margin-right-sm {
        margin-right: 1em;
    }

}


/* CSS for animated picture on homepage */
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.nice-profile-pic {
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}